<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="forma" (ngSubmit)="guardar()">
        
        <div class="form-group">
          <label for="nombre">Nombres:</label>
          <input
          type="text" 
          class="form-control" 
          formControlName= "nombre"
          [class.is-invalid]="nombreNoValido"
          >
          <small class="text-danger" *ngIf="nombreNoValido">
            Ingrese mas de 3 letras
          </small>
        </div>

        <div class="form-group">
          <label for="apellido">Apellidos:</label>
          <input
          formControlName= "apellido"
          type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Correo:</label>
          <input 
          formControlName= "email"
          type="text" class="form-control">
        </div>
        <br>

        <div class="input-group mb-3">
          <input 
          formControlName= "celular"
          type="text" class="form-control" placeholder="Celular..." aria-label="celular">
          <label class="input-group-text" for="inputGroupSelect01">Ciudad:</label>
          <select class="form-select" id="inputGroupSelect01">
            <option value="Cochabamba">Cochabamba</option>
            <option value="Santa cruz">Santa cruz</option>
            <option value="La Paz">La Paz</option>
            <option value="Tarija">Tarija</option>
            <option value="Beni">Beni</option>
            <option value="Pando">Pando</option>
            <option value="Oruro">Oruro</option>
            <option value="potosi">potosi</option>
            <option value="Sucre">Sucre</option>
          </select>
        </div>

        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <input 
          formControlName= "mensaje"
          type="text" class="form-control">
        </div>
        <br>
      
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-dark" 
          type="button"
          [disabled]="forma.invalid">Guardar</button>  
        </div>
      </form>

    </div>
  </div>
</div>
