/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Ubuntu, Poppins, "Helvetica Neue";
}
