

<div class="navbar">

  
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <!--a [routerLink]="['navbar']" routerLinkActive="active">Sobre mi</a-->
  <a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a>
  <a [routerLink]="['agenda']" routerLinkActive="active">Agenda</a>


</div>

